// Body
$bg: #2e2e32;
$bg-light-1: #3f3f43;
$bg-light-2: #4f4f54;
$bg-dark: #1d1d21;

// Typography
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-size-base: 0.9rem;

// Colors
$special-color: #6ed962;
$special-color-dark: #5dc851;
$main-font-color: #777;
$hr-color: #333;

//events
$hover-opacity: 0.8;
