@import 'variables';


.card{
  background-color: $bg !important;
  padding: 10px;
  border-radius: 30px !important;

  h3{
    text-align: center;
    margin-top: 10px;
  }

  input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $special-color !important;
    background-color: transparent !important;
  }
}
