@import 'variables';


header
{
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	font-size: 20px;
	font-weight: bold;
	z-index: 100000;
	background-color: $bg;

	.nav-link{
		font-size: 20px;
		color: #d0d0d0;
		margin-left: 10px;
		&:hover{
			opacity: $hover-opacity;
		}
	}

	.auth-link{
		color: $special-color;
	}

	.fa{
		margin-right: 10px;
	}
}

#logo
{
	font-size: 30px;
	font-family: $font-family-sans-serif;
	color: #d0d0d0;
  &:hover{
    text-decoration: none;
  }
}

.navbar-toggler{
	font-size: 30px;
	color: #d0d0d0;
}

#search-panel{
	width: 100%;
	float: left;
	text-align: center;
	display: block;
	padding: 2px;
	border-top: 1px solid $bg-light-1;
}
