@import 'variables';


#post{
  h1{
    font-family: $font-family-sans-serif;
  }

  h6{
    display: inline-block;
  }

  .category{
    float: right;
  }
}

.post-main-image{
  position: static;
  max-width: 300px;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#comments{
  h3{
    font-weight: 100;
    color: $special-color;
  }
}

.card-body{
  background-color: $bg !important;
}
