.card{
  background-color: #2e2e32 !important;
  padding: 10px;
  border-radius: 30px !important;
}

.card h3{
  text-align: center;
  margin-top: 10px;
}

.card input{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6ed962 !important;
  background-color: transparent !important;
}
