footer{
	width: 100%;
	color: #dadada;
	background: #2a2a2a;
}

footer .list-group{
	padding: 8px;
}

footer hr{
	border-color: #3f3f43;
}

footer h4{
	margin-left: 20px;
}

footer .fa{
	margin-right: 5px;
}

footer a{
	display: block;
	margin-left: 15px;
	margin-top: 10px;
	color: #6ed962;
	font-weight: bold;
}

footer a:hover{
	opacity: 0.8;
	color: #6ed962;
	text-decoration: none;
}

footer .c-py-rights{
	border-top: solid 1px #292929;
	text-align: center;
	background: #222;
	padding: 2px;
}
