body, html
{
	background-color: #1d1f21 !important;
	padding: 0;
	margin: 0;
}

main{
	min-height: 700px;
	width: 92%;
	margin: 140px auto;
	padding: 20px;
	color: #777;
}

main hr{
	border-color: #333;
}

.form-control{
	background-color: #2e2e32 !important;
	color: #999 !important;
	border-color: #4f4f54 !important;
}

.btn-primary{
	background: #5cc651 !important;
	border-color: #5cc651 !important;
}
